.pricing {
    margin-bottom: 128px;
}

.pricing-label {
    margin: 0 auto;
    margin-top: 128px;
    width: 562px;
    text-align: center;
}

.pricing-label p{
    color: rgba(40, 41, 56, 0.8);
    font-weight: 500;
}

.pricing-cards {
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    width: 1282px;
    justify-content: space-between;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 406px;
    height: 745px;
    border-radius: 12px;
    background-color: rgba(244, 246, 252, 1);
}

.card > *{
    margin: 0 0 0 48px;
    width: 281px;
}

.pricing-cards .card:nth-child(2) {
    position: relative;
    color: #ffffff;
    background-color: rgba(28, 30, 83, 1);
}


.pricing-cards .card:nth-child(2) ul{
     margin-top: 50px;
}

.pricing-cards .card:nth-child(2) .card-price span {
    color: #FCD980;
}

.pricing-cards .card:nth-child(2):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    clip-path: circle(575px at top);
    background-color: rgba(255, 255, 255, 0.06);
}

.card-price {
    margin-top: 64px;
    font-weight: 600;
    font-size: 38px;
}

.card-price span {
    font-weight: 400;
    font-size: 16px;
    color: rgba(36, 5, 242, 1);
    vertical-align: middle;
}

.card h3 {
    margin-top: 20px;
    margin-bottom: 8px;
}

.card ul {
    display: block;
    margin-top: 78px;
    margin-bottom: 0;
    list-style: square url(../img/pointers/green_pointer.png) inside;
    padding: 0;
}

.pricing-cards .card:last-child ul {
    margin-top: 44px;
}

.pricing-cards .card:first-child ul:nth-child(5) {
    margin-top: 0px;
    list-style: square url(../img/pointers/grey_pointer.png) inside;
}

.card ul li {
    height: 20px;
    margin-bottom: 20px;
}

.card ul li span{
    position: relative;
    top: -5px;  
}

.card button {
    position: absolute;
    width: 254px;
    margin: 0;
    left: 76px;
    top: 619px;
}



.FAQ {
    margin: 0 auto;
    width: 1280px;
    display: flex;
    height: auto;
    margin-bottom: 96px
}

.FAQ-label {
    width: 411px;
}
.FAQ-container {
    padding-bottom: 41px;
}

.FAQ-container ol {
    list-style: none;
    counter-reset: ol-numbers;
}

.FAQ-question {
    width: 843px;
    position: relative;
    display: flex;
    height: 68px;
    border-bottom: 1px solid rgba(194, 187, 255, 0.7);
    margin-bottom: 32px;
    transition: height .1s ease-in;
}

.FAQ-question button{
    position: absolute;
    top: -15px;
    right: 0;
    width: 80px;
    font-weight: 500;
    font-size: 36px;
    color: rgba(40, 41, 56, 0.7);
    transition: transform .1s ease-in;  
}

.FAQ-question button:hover{
    border: none;
}

.FAQ-question > * {
    margin: 0;
}

.FAQ-question::before {
    margin-left: 25px;
    top: 0;
    width: 84px;
    counter-increment: ol-numbers;
    content: "0" counter(ol-numbers);
    color: #2405F2;
    font-size: 24px;
    font-weight: 500;
}

.FAQ-answer {
    display: none;
    position: absolute;
    left: 110px;
    top: 52px;
    font-size: 18px;
    font-weight: 500;
    width: 624px;
    color: rgba(40, 41, 56, 0.9);
}

.rotate {
    transform: rotate(45deg);
}

.show {
    display: block;
    animation: open-asnwer .5s ease-in;
}

@keyframes open-asnwer{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}