hr {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(233, 234, 235, 1);
    border: none;
    border-radius: 5px;
    height: 1px;
}

.pagination {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    
    left: 35.6%;
    justify-content: space-around ;
    
}

.next, .previous,  .break, .page{
    height: 40px;
    width: 40px;
    line-height: 40px;
    align-self: flex-end ;
}

.page-link{
    border-radius: 100%;
    display: block;
    width: 100%;
    cursor: pointer;
}

.page, .break {
    text-align: center;
}

.previous, .next {
    width: 35%;
}

.previous { 
    a {
        padding-left:40px;
        background: url("./../../public/img/arrows/left-arrow.svg") no-repeat;
        background-size: 20px 20px;
    }
}

.next {
    text-align: right;
    a{
        padding-right: 40px;
        background: url("./../../public/img/arrows/right-arrow.svg") no-repeat;
        background-size: 20px 20px;
        background-position: 55px;
    }
}

.page-active {
    border-radius: 100%;
    background: rgba(249, 249, 249, 1);
}



@media screen and (max-width: 980px) {
    .pagination {
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: space-between;    
    }

    .previous, .next{
        width: 36px;
        height: 36px;
        border-radius: 8px;
        border: 1px solid rgba(213, 215, 218, 1);
        align-self: center;
    }

    .previous a, .next a{
        height: 36px;
        padding: 0;
        line-height: 36px;
        color: rgba(255,255,255, 0);
    }
    .previous a {
        background-position: 9px -1px;
    }
    .next a{
        background-position: 7px -1px;
    }

    .page {
        align-self:center;
    }

    .page-active {
        position: relative;
        background: none;
    }

    .page-active::before {
        position: absolute;
        content: 'Page    of  10';
        left: -33px;
        width: 110px;
    }

}