body {
    margin: 0;
    font-family: 'Poppins', serif;
    color: rgba(40, 41, 56, 1);
}
nav, footer, .home-hero {
    background-color: #1C1E53;
    width: 100%;
}

.logo {
    float: left;
    width: 122px;
}

a {
    text-decoration: 0;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-size: 54px;
    font-weight: 600;
}

h2 {
    font-weight: 600;
    font-size: 48px;
    color: rgba(40, 41, 56, 1);
    margin: 0;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

button, input[type="button"] {
    border-radius: 41px;
    cursor: pointer;
    padding: 0;
}

.yellow-button {
    margin: 0;
    color: #1B1C2A;
    background-color: #FCD980;
    font-weight: 500;
    border: none;
    font-size: 18px;
    transition: background-color .2s ease-in .15s;
}

.yellow-button:hover {
   background-color: #FDE4A6;
}

.darkblue-button {
    margin: 0;
    color: #ffffff;
    background-color: #282938;
    font-size: 18px;
    transition: background-color .2s ease-in .15s;
}

.darkblue-button:hover {
    background-color: #535460 ;
}