body {
    background-image: url(./../../public/img/stars-opacity.svg);
    background-color: #3B3B98;
    font-family: "Barlow",   serif;
    margin: 0 auto;
    position: relative; 
}

a:visited {
    color: inherit;
}